html {
    font-family: 'nanumsquare', sans-serif;
    font-size: 12px;
    color: #FFFFFFCC;
}

body {
    font-family: inherit;
    font-size: inherit;
    width: 45rem;
    height: 25rem;
    margin: 0 4px;
}

li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

.button {
    cursor: pointer;
}

.MealList {
    background-position-x: 4px;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
}

#MealList-mask {
    display: block;
    width: auto;
    height: 100%;
    background-color: #00000099;
}

#MealList-icon-menu {
    width: 1rem;
    height: 1rem;
}

#MealList-icon-menu {
    position: absolute;
    margin: 0.5rem;
    padding: 0.25rem;
    left: 0;
}

.MealList-heart {
    margin-left: 0.5rem;
    margin-right: 0.25rem;
    
    font-size: 1rem;
}

.MealList-score {
    
    color: #6B6B6B;
    font-size: 0.75rem;
}